// bootstrap

$primary: #bbb55e;
$secondary: #33c1ff;
$success: #28a745;
$info: #17a2b8;
$warning: #ffc107;
$danger: #dc3545;
$light: #050f0f;
$dark: #1a1a18;

$progress-height: 1.5rem;

@import "../../node_modules/bootstrap/scss/bootstrap";

// fonts

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Barcode+128+Text&display=swap");

.noto-sans-mono-200 {
  font-family: "Noto Sans Mono", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.libre-barcode-128-text-regular {
  font-family: "Libre Barcode 128 Text", serif;
  font-weight: 400;
  font-style: normal;
}

// custom

html {
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(300deg, rgba($dark, 1) 0%, rgba($light, 1) 100%);
  font-family: "Noto Sans Mono", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

img {
  will-change: transform;
}

.glass {
  background: linear-gradient(
    300deg,
    rgba(#b9d8ff, 0.1) 0%,
    rgba(#f7ffc9, 0.05) 100%
  );
  backdrop-filter: blur(10px);
  border-left: 0.15rem solid rgba(#fff, 0.4);
  border-top: 0.15rem solid rgba(#fff, 0.3);
  box-shadow: 0.2rem 0.2rem 0.2rem rgba(#000, 0.05);
}

.display-big {
  font-size: 8rem;
}

@media screen and (max-width: "768px") {
  .display-big {
    font-size: 4rem;
  }
}
